.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.body{
    width: 100%;
}
.nav-items ul{
    display: flex;
    gap:5px;

}
.nav-items ul li{
    padding:10px;
    margin:10px;
    list-style: none;
    font-size: 24px;
}

.search{
    padding:10px;
    border:1px solid black;
}

.res-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
}

.res-card{
    height: 400px;
    width: 200px;
    margin:5px;

}
.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}

.res-food-img{
    width: 100%;
    height: 40%;
}

.user-card{
    width: 300px;
    border:2px solid black;
    height: 300px;
}